<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About Us</a></li>
                    <li><a href="/events">Our Events</a></li>
                    <li><a href="/team">Meet the Team</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Connect with us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/SOCH-Station-Of-Creativity-and-Hue-104225484693521"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/soch.igdtuw/"><i class="fab fa-instagram"></i></a>
                    <a
                        href="https://www.linkedin.com/company/soch-station-of-creativity-and-hue-the-creative-society-of-igdtuw/mycompany/"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/JS/loader.js"></script>
<script src="/JS/contact.js"></script>
<script src="JS/home.js"></script>
<!-- navbar toggle -->
<script src="/JS/index.js"></script>
<!-- animation on scroll -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 250,
        duration: 800,
    });
</script>
<!-- calendar script -->
<script src="/JS/calendar.js"></script>
<script src="/JS/calendar_events.js"></script>

</html>