<%- include("partials/header"); %>
    <div class="contact">
        <div class="contact_banner">
            <h1 data-aos="fade-right">Let's Chat 💬</h1>
            <div data-aos="fade-right" class="underline"></div>
            <h6 data-aos="fade-right">
                We would love to communicate even if you have suggestions, want to
                collaborate or simply want to say hi! 😀
            </h6>
            <img class="message-illust" src="Assets/contact-illust.png" alt="">
        </div>
        <div data-aos="fade-down" class="form_container">
            <h2>Contact Us</h2>
            <div style="background-color: var(--bright-pink);" class="underline"></div>
            <form method="POST" data-email="soch.igdtuw@gmail.com" class="gform pure-form pure-form-stacked" action="https://script.google.com/macros/s/AKfycbxxduHkUO4fr9dvnXalblXNAb92k_srayK-nVlojiDrsTVRm8NdqabYvMxZsUq1Ri-Zlg/exec">
                <div data-aos="zoom-in-up" class="form-group">
                    <label for="text">
                        <i class="fa-solid fa-pen"></i>
                        <input type="text" name="name" required placeholder="Enter Name" id="" />
                    </label>
                </div>
                <div data-aos="zoom-in-up" class="form-group">
                    <label for="email">
                        <i class="fa-solid fa-at"></i>
                        <input type="email" name="email" required placeholder="Enter Email" id="" />
                    </label>
                </div>
                <!-- <div data-aos="zoom-in-up" class="form-group">
                    <label for="text">
                        <i class="fa-solid fa-envelope-open-text"></i>
                        <input type="text" name="subject" required placeholder="Enter Subject" id="" />
                    </label>
                </div> -->
                <div data-aos="zoom-in-up" class="form-group">
                    <label>
                        <i class="fa-solid fa-message"></i>
                        <textarea name="message" required id="" cols="30" placeholder="Drop your message here."
                            rows="10"></textarea>
                    </label>
                </div>
                <button class="contact-btn" type="submit">Send <i class="fa-solid fa-inbox-out"></i></button>
            </form>
        </div>
        <div class="loader_wrapper">
            <div class="loader"></div>
        </div>
    </div>
    <div class="success">
        <div class="pop-up">
            <img src="Assets/tick.png" alt="Success">
            <h1>Submitted!</h1>
            <div class="underline"></div>
            <h4>Form Submitted Successfully!</h4>
          <button onclick="window.location.href = '/contact';" class="pop-btn">Okay!</button>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <%- include("partials/footer"); %>