<%- include("partials/header"); %>
    <main>
        <div class="heading">
            <div data-aos="fade-right" class="head-content">
                <div class="head-text">
                    <h1>SOCH</h1>
                    <h4>Station of Creativity and Hue</h4>
                    <span class="underline"></span>
                    <p>The Art 🎨 and Writing ✍ Society of IGDTUW.</p>
                </div>
            </div>
        </div>
        <div class="teams">
            <h1 data-aos="fade-right">Our Teams</h1>
            <span data-aos="fade-right" class="underline"></span>
            <h4 data-aos="fade-right">Know more about our teams.</h4>
            <div class="team-cards">
                <div class="team-card-wrap">
                    <div data-aos="fade-down" class="team-card">
                        <img class="team-icon" src="Assets/art.png" alt="Art Team">
                        <h5>Art Team</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, totam rem aut dolorum aliquam
                            dolore ex nostrum nisi in amet?</p>
                    </div>
                    <div data-aos="fade-down" class="team-card">
                        <img src="Assets/writing.png" alt="Writing Team" class="team-icon">
                        <h5>Writing Team</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic totam unde veniam
                            ut
                            vitae quidem autem illo debitis ratione.</p>
                    </div>
                    <div data-aos="fade-down" class="team-card">
                        <img src="Assets/management.png" alt="Management Team" class="team-icon">
                        <h5>Management Team</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic totam unde veniam
                            ut
                            vitae quidem autem illo debitis ratione.</p>
                    </div>
                </div>
                <!-- <button data-aos="fade-up" class="know-btn">Know More</button> -->
            </div>
        </div>
        <div class="about">
            <div class="about-container">
                <h1 data-aos="fade-right">About Us</h1>
                <div data-aos="fade-right" class="underline"></div>
                <h4 data-aos="fade-right">Get to know more about us.</h4>
                <div class="about-wrap">
                    <div class="about-con">
                        <!-- <img class="illust" src="/Assets/art-illust.jpg" alt="artist illustration"> -->
                        <img data-aos="fade-up" class="about__illust" src="/Assets/artist-1.svg"
                            alt="artist illustration">
                        <p data-aos="fade-up">Lorem <i>ipsum</i> dolor sit amet consectetur adipisicing elit. Iure
                            aperiam necessitatibus id
                            nostrum et dignissimos ad tempora reprehenderit iste doloremque! Nobis nostrum aspernatur,
                            molestias expedita rerum ab, quisquam explicabo esse adipisci odit quae accusamus illum
                            laudantium eius sit laboriosam, rem porro commodi in officiis. Sed illo obcaecati dicta
                            officia architecto! nostrum et dignissimos ad tempora reprehenderit iste doloremque! Nobis
                            nostrum aspernatur,
                            molestias expedita rerum ab, quisquam explicabo esse adipisci odit quae accusamus illum
                            laudantium eius sit laboriosam, rem porro commodi in officiis. Sed illo obcaecati dicta
                            officia architecto!<span class="underline"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <h1 data-aos="fade-right">Did You Know?</h1>
            <div data-aos="fade-right" class="underline"></div>
            <h4 data-aos="fade-right">Here are some fun facts about art and writing</h4>
            <div class="banner-container">
                <div data-aos="fade-down" class="banner1">
                    <div class="banner-content">
                        Art
                        <h3>Art used to be an Olympic event.</h3>
                    </div>
                </div>
                <div data-aos="fade-down" class="banner2">
                    <div class="banner-content">
                        Writing
                        <h3>Shortest sentence in English language is 'I am'.</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials/footer"); %>