<%- include("partials/header"); %>
    <main>

        <div id="PopUp" data-aos="zoom-in">
            <button class="close-button" onclick="togglePopUp()">&times;</button>
            <div class="PopUp-content">
                <h3>Soch 2022-23 Orientation</h3>
                <img src="https://drive.google.com/uc?export=view&id=1mTAlom7WxbJJ7Ks-t7JN6UxOKe1tZjgD" alt=""
                    height="350px">
                <!-- <div class="separator"></div> -->
                <!-- <a href="https://forms.gle/iCYbZ6SVwqrixPTi9">
                    <button>Register Now</button>
                </a> -->
                <p style="color: var(--bright-pink); margin-bottom: 20px;">We hope to see you there!</p>
            </div>
        </div>

        <div class="heading">
            <div data-aos="fade-right" class="head-content">
                <div class="head-text">
                    <h1>SOCH</h1>
                    <h4>Station of Creativity and Hue</h4>
                    <span class="underline"></span>
                    <p>The Art 🎨 and Writing ✍ Society of IGDTUW.</p>
                </div>
            </div>
        </div>
        <!-- <div class="heading">
            <div id="slider">
                <figure>
                    <img src="Assets/SOCH-bg-final.png" alt="">
                    <img src="Assets/SOCH-bg-final.png" alt="">
                    <img src="Assets/SOCH-bg-final.png" alt="">
                    <img src="Assets/SOCH-bg-final.png" alt="">
                    <img src="Assets/SOCH-bg-final.png" alt="">
                </figure>
                <div class="head-content">
                    <div class="head-text">
                        <h1>SOCH</h1>
                        <h4>Station of Creativity and Hue</h4>
                        <span class="underline"></span>
                        <p>The Art 🎨 and Writing ✍ Society of IGDTUW.</p>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="teams">
            <h1 data-aos="fade-right">Our Teams</h1>
            <span data-aos="fade-right" class="underline"></span>
            <h4 data-aos="fade-right">Know more about our teams.</h4>
            <div class="team-cards">
                <div class="team-card-wrap">
                    <div data-aos="fade-down" class="team-card">
                        <img loading="lazy" class="team-icon" src="Assets/art.png" alt="Art Team">
                        <h5>Art Team</h5>
                        <p>The SOCH Art Team is an art focused club that seeks to foster the growth of visual
                            artists(painting , sketching, pencil shading, craftwork, etc ) through the creation,
                            sharing, and promotion of student artwork.</p>
                    </div>
                    <div data-aos="fade-down" class="team-card">
                        <img loading="lazy" src="Assets/writing.png" alt="Writing Team" class="team-icon">
                        <h5>Writing Team</h5>
                        <p>The Writing Team of SOCH IGDTUW is a group of passionate writers who express their thoughts
                            through the medium of words. Each one here is unique and has her métier in different forms
                            of writing.</p>
                    </div>
                    <div data-aos="fade-down" class="team-card">
                        <img loading="lazy" src="Assets/management.png" alt="Management Team" class="team-icon">
                        <h5>Management Team</h5>
                        <p>The Management Team of SOCH (Station Of Creativity and Hue), brings out the best in you. it's
                            focused on the overall personality and skill development like the way you interact, manage,
                            plan or schedule the things
                        </p>
                    </div>
                </div>
                <!-- <button data-aos="fade-up" class="know-btn">Know More</button> -->
            </div>
        </div>
        <div class="about">
            <div class="about-container">
                <h1 data-aos="fade-right">About Us</h1>
                <div data-aos="fade-right" class="underline"></div>
                <h4 data-aos="fade-right">Get to know more about us.</h4>
                <div class="about-wrap">
                    <div class="about-con">
                        <!-- <img class="illust" src="/Assets/art-illust.jpg" alt="artist illustration"> -->
                        <img loading="lazy" data-aos="fade-up" class="about__illust" src="/Assets/artist-1.svg"
                            alt="artist illustration">
                        <p data-aos="fade-up"><b>SOCH</b>, Station Of Creativity and Hue, is an Art and Writing society
                            of
                            IGDTUW. It is a group of students where talent meets creativity to deliver exceptional art
                            pieces and write-ups. This society aims to provide a platform for students to express
                            themselves through ingenuity and connect them with a like-minded audience.
                            There are teams of: Art, Writing, Management, and Tech, to ensure a noble functioning of the
                            society.
                            The SOCH Team encourages the self-development of artists regardless of their level of
                            experience. The Core Team promotes members&#39; work and raises awareness of the different
                            form of arts
                            within the greater IGDTUW community through periodic exhibitions and showings.
                            <br><i> So Join Us and Blend in the world of creativity with SOCH!</i><span
                                class="underline"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <h1 data-aos="fade-right">Did You Know?</h1>
            <div data-aos="fade-right" class="underline"></div>
            <h4 data-aos="fade-right">Here are some fun facts about art and writing</h4>
            <div class="banner-container">
                <div data-aos="fade-down" class="banner1">
                    <div class="banner-content">
                        Art
                        <h3>Art used to be an Olympic event.</h3>
                    </div>
                </div>
                <div data-aos="fade-down" class="banner2">
                    <div class="banner-content">
                        Writing
                        <h3>Shortest sentence in English language is 'I am'.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="event-banner">
            <h1 data-aos="fade-right">Formidable Anecdote</h1>
            <div data-aos="fade-right" class="underline"></div>
            <h4 data-aos="fade-right">Here are all the stories written during this event.</h4>
            <iframe loading="lazy" src="https://drive.google.com/file/d/1_W8h1J9zRbhaq5uAwmLJWyqDxQa5hx2T/preview"
                style="width: 100%;" height="400" allow="autoplay"></iframe>
        </div>
        <div class="loader_wrapper">
            <div class="loader"></div>
        </div>
    </main>

    <%- include("partials/footer"); %>