<%- include("partials/header"); %>
    <div class="team">
        <div class="events__top">
            <h1 data-aos="fade-right">Meet The Team 🔮</h1>
            <div data-aos="fade-right" class="underline"></div>
            <h6 data-aos="fade-right">
                We are always looking forward to bringing the best for art and writing enthusiasts! 😀
            </h6>
            <img loading="lazy" class="team-illust" src="Assets/team-illust.png" alt="">
        </div>
        <div class="team-table">
            <!-- <h2 class="pos" data-aos="fade-up" style="margin-top: 50px;">PRESIDENT</h2>
            <div class="team-row single" data-aos="fade-up">
                <div class="team-row-member single">
                    <div class=" media">
                        <img loading="lazy" src="Assets/new_cores/Anshika_President.png" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/anshika-gautam/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <h2 class="team-name">ANSHIKA GAUTAM</h2>
                </div>
            </div>

            <h2 class="pos" data-aos="fade-up">SECRETARY</h2>
            <div class="team-row single" data-aos="fade-up">
                <div class="team-row-member single">
                    <div class=" media">
                        <img loading="lazy" src="Assets/new_cores/Abhilasha.webp" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/abhilasha-sharma-2b2906211/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <h2 class="team-name">ABHILASHA SHARMA</h2>
                </div>
            </div> -->

            <div class="team-row double" data-aos="fade-up">

                <div class="team-row-member single" id="head1">
                    <h2 class="pos" data-aos="fade-up" style="margin-top: 50px;">PRESIDENT</h2>

                    <div class=" media">
                        <img loading="lazy" src="Assets/new_cores/Anshika_President.png" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/anshika-gautam/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <h2 class="team-name">ANSHIKA GAUTAM</h2>
                </div>

                <div class="team-row-member single" id="head2">
                    <h2 class="pos" data-aos="fade-up" style="margin-top: 50px;">SECRETARY</h2>

                    <div class=" media">
                        <img loading="lazy" src="Assets/new_cores/Abhilasha.webp" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/abhilasha-sharma-2b2906211/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <h2 class="team-name">ABHILASHA SHARMA</h2>
                </div>

            </div>


            <h2 class="pos" data-aos="fade-up">MANAGEMENT HEADS</h2>
            <div class="team-row double" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/AsthaVarshney_Management.jpeg" alt=""
                            class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/astha-varshney-132980191/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">ASTHA VARSHNEY</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/MahiDhiman_ManagementHead.jpg" alt=""
                            class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/mahi-dhiman-3b48b6228/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">MAHI DHIMAN</h2>
                </div>

            </div>

            <h2 class="pos" data-aos="fade-up">DIRECTORS OF ART</h2>
            <div class="team-row double" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/Lahari-DirectorOfArt.jpeg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/lahari-sriya-varre-07062002/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">LAHARI</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/Samiksha-DirectorOfArt.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/samiksha-aggarwal-1bb6a41b5/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">SAMIKSHA AGGARWAL</h2>
                </div>
            </div>
            <div class="team-row double" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/Esha_Art Director_.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/esha-singh-554303234/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">ESHA SINGH</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/Harshita Sharma_Art Director.jpg" alt=""
                            class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/harshita-sharma-190a0022a/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">HARSHITA SHARMA</h2>
                </div>
            </div>

            <h2 class="pos" data-aos="fade-up">DIRECTORS OF WRITING</h2>
            <div class="team-row" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/Anjali_WritingDirector.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/anjali-sarowa-889aa7228/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">ANJALI SAROWA</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/Diya Singla_Writing Director.jpg" alt=""
                            class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/diya-singla-51905b212/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">DIYA SINGLA</h2>
                </div>
                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/RiyaGupta-DirectorOfWriting.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/riya-gupta-7304561bb/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">RIYA GUPTA</h2>
                </div>
            </div>

            <h2 class="pos" data-aos="fade-up">SOCIAL MEDIA HEADS</h2>
            <div class="team-row double" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/Isha_SocialMedia.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">ISHA</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/Sejal Wankhade_Social Media_.jpg" alt=""
                            class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/sejal-wankhade-3699b222a/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">SEJAL WANKHADE</h2>
                </div>

            </div>

            <h2 class="pos" data-aos="fade-up">TECHNICAL LEAD</h2>
            <div class="team-row single" data-aos="fade-up">
                <div class="team-row-member single">
                    <div class=" media">
                        <img loading="lazy" src="Assets/new_cores/Tanya Dixit.jpeg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/anshika-gautam/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <h2 class="team-name">TANYA DIXIT</h2>
                </div>
            </div>

            <h2 class="pos" data-aos="fade-up">DEVELOPERS</h2>
            <div class="team-row double" data-aos="fade-up">
                <div class="team-row-member">
                    <div class="media">
                        <img loading="lazy" src="Assets/VanshiKA Moyal.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/tanya-dixit-a4a256209/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">VANSHIKA MOYAL</h2>
                </div>

                <div class="team-row-member">
                    <div class="media">
                        <img loading="lazy" src="Assets/ganiti jagota.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/ganiti-jagota-16b521211/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">GANITI JAGOTA</h2>
                </div>
            </div>


            <div class="team-row double" id="last" data-aos="fade-up">
                <div class="team-row-member">
                    <div class="media">
                        <img loading="lazy" src="Assets/photo - Mehak Aggarwal.jpeg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/mehak-aggarwal-97315a1b4/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">MEHAK AGGARWAL</h2>
                </div>
                <div class="team-row-member">
                    <div class="media">
                        <img loading="lazy" src="Assets/Ishika Pandey.jpg" alt="" class="team-img">
                        <div class="icon">
                            <a href="https://www.linkedin.com/in/ishika-pandey/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">ISHIKA PANDEY</h2>
                </div>
            </div>
        </div>
        <div class="loader_wrapper">
            <div class="loader"></div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        });
    </script>
    <%- include("partials/footer"); %>