<%- include("partials/header"); %>
    <div class="team">
        <div class="events__top">
            <h1 data-aos="fade-right">Meet the Team 🔮</h1>
            <div data-aos="fade-right" class="underline"></div>
            <h6 data-aos="fade-right">
                We are always looking forward to bringing the best for art and writing enthusiasts! 😀
            </h6>
            <img loading="lazy" class="team-illust" src="Assets/team-illust.png" alt="">
        </div>
        <div class="team-table">
            <!-- <h2 class="pos" data-aos="fade-up" style="margin-top: 50px;">PRESIDENT</h2>
            <div class="team-row single" data-aos="fade-up">
                <div class="team-row-member single">
                    <div class=" media">
                        <img loading="lazy" src="Assets/new_cores/Anshika_President.png" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/anshika-gautam/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <h2 class="team-name">ANSHIKA GAUTAM</h2>
                </div>
            </div>

            <h2 class="pos" data-aos="fade-up">SECRETARY</h2>
            <div class="team-row single" data-aos="fade-up">
                <div class="team-row-member single">
                    <div class=" media">
                        <img loading="lazy" src="Assets/new_cores/Abhilasha.webp" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/abhilasha-sharma-2b2906211/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <h2 class="team-name">ABHILASHA SHARMA</h2>
                </div>
            </div> -->

            <div class="team-row" data-aos="fade-up">

                <div class="team-row-member single" id="head1">
                    <h2 class="pos" data-aos="fade-up" style="margin-top: 50px;">PRESIDENT</h2>

                    <div class=" media">
                        <img loading="lazy" src="Assets\CORES_2025\Aditi_President.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/aditi-2843212a6/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">ADITI</h2>
                </div>

                <div class="team-row-member single" id="head2">
                    <h2 class="pos" data-aos="fade-up" style="margin-top: 50px;">SECRETARY</h2>

                    <div class=" media">
                        <img loading="lazy" src="Assets\CORES_2025\Nitya_Singhal_VP.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/nitya-singhal-2ab703259/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <h2 class="team-name">NITYA SINGHAL</h2>
                </div>

            </div>

            <h2 class="pos" data-aos="fade-up">MANAGEMENT HEADS</h2>
            <div class="team-row" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets\CORES_2025\Meghverna_Sharma_mgmt.jpg" alt=""
                            class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/meghverna-sharma-372a05284/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">MEGHVERNA SHARMA</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets\CORES_2025\Riya_mahajan_mgmt.jpg" alt=""
                            class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/riyamahajann/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">RIYA MAHAJAN</h2>
                </div>
            </div>
                <!-- <div class="team-row-member">
                    <div class="media">
                        <img loading="lazy" src="Assets/Aditi-President.PNG" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/aditi-gupta-734740192/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">ADITI GUPTA</h2>
                </div> -->
            <h2 class="pos" data-aos="fade-up">DIRECTORS OF ART</h2>
            <div class="team-row" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets\CORES_2025\Isha_Verma_art.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/isha-verma-401144289/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">ISHA VERMA</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets\CORES_2025\Tanushi_art.jpg" alt=""
                            class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/sarah-raees-752964259/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">TANUSHI</h2>
                </div>
            </div>

            <!-- <div class="team-row double" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/Esha_Art Director_.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/esha-singh-554303234/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">ESHA SINGH</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets/new_cores/Harshita Sharma_Art Director.jpg" alt=""
                            class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/harshita-sharma-190a0022a/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">HARSHITA SHARMA</h2>
                </div>
            </div> -->

            <h2 class="pos" data-aos="fade-up">DIRECTORS OF WRITING</h2>
            <div class="team-row" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets\CORES_2024\SrishneetKaur.png" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/srishneet-kaur-59a924263/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">SRISHNEET KAUR</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets\CORES_2024\NityaSinghal.png" alt=""
                            class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/nitya-singhal-2ab703259/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">NITYA SINGHAL</h2>
                </div>
            </div>

            <h2 class="pos" data-aos="fade-up">SOCIAL MEDIA HEADS</h2>
            <div class="team-row" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets\CORES_2024\ShrutiSharma.png" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/shhrutsh/" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">SHRUTI SHARMA</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img loading="lazy" src="Assets\CORES_2024\ShaziaAli.png" alt=""
                            class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/shazia007/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">SHAZIA ALI</h2>
                </div>

            </div>

            <h2 class="pos" data-aos="fade-up">TECHNICAL LEAD</h2>
            <div class="team-row" data-aos="fade-up">
                <div class="team-row-member single">
                    <div class=" media">
                        <img loading="lazy" src="Assets\CORES_2025\Anjali_sharma_tech.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/anjali-sharma-159054288/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <h2 class="team-name">ANJALI SHARMA</h2>
                </div>
            </div>
        </div>
        <div class="loader_wrapper">
            <div class="loader"></div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        });
    </script>
    <%- include("partials/footer"); %>
