<%- include("partials/header"); %>
    <div class="team">
        <div class="events__top">
            <h1 data-aos="fade-right">Meet The Team 🔮</h1>
            <div data-aos="fade-right" class="underline"></div>
            <h6 data-aos="fade-right">
                We are always looking forward to bringing the best for art and writing enthusiasts! 😀
            </h6>
            <img class="team-illust" src="Assets/team-illust.png" alt="">
        </div>
        <div class="team-table">
            <h2 class="pos" data-aos="fade-up">PRESIDENT</h2>
            <div class="team-row single" data-aos="fade-up">
                <div class="team-row-member single">
                    <div class=" media">
                        <img src="Assets/Aditi-President.PNG" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/aditi-gupta-734740192/" class="linkedIn"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <h2 class="team-name">ADITI GUPTA</h2>
                </div>
            </div>

            <h2 class="pos" data-aos="fade-up">MANAGEMENT HEADS</h2>
            <div class="team-row" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img src="Assets/Abhilasha-ManagementHead.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/abhilasha-sharma-2b2906211/" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">AKANKSHA</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img src="Assets/Akansha-managementhead.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/akansha-40b437192/" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">AKANKSHA</h2>
                </div>

                <div class="team-row-member single">
                    <div class="media">
                        <img src="Assets/Anshika-ManagementHead.jpg" alt="" class="team-img">
                        <div class="icon">
                            <a href="https://www.linkedin.com/in/anshika-gautam/" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">ANSHIKA GAUTAM</h2>
                </div>
            </div>

            <h2 class="pos" data-aos="fade-up">DIRECTORS OF ART</h2>
            <div class="team-row double" data-aos="fade-up">

                <div class="team-row-member single">
                    <div class="media">
                        <img src="Assets/Lahari-DirectorOfArt.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/lahari-sriya-varre-07062002/" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">LAHARI</h2>
                </div>

                <div class="team-row-member">
                    <div class="media">
                        <img src="Assets/Samiksha-DirectorOfArt.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/samiksha-aggarwal-1bb6a41b5/" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">SAMIKSHA</h2>
                </div>
            </div>

            <h2 class="pos" data-aos="fade-up">DIRECTORS OF WRITING</h2>
            <div class="team-row double" data-aos="fade-up">

                <div class="team-row-member">
                    <div class="media">
                        <img src="Assets/RiyaGupta-DirectorOfWriting.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="https://www.linkedin.com/in/riya-gupta-7304561bb/" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">RIYA GUPTA</h2>
                </div>

                <div class="team-row-member">
                    <div class="media">
                        <img src="Assets/KirtiSingh-DirectorOfWriting.jpeg" alt="" class="team-img">

                        <div class="icon">
                            <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">KIRTI SINGH</h2>
                </div>
            </div>

            <h2 class="pos" data-aos="fade-up">TECHNICAL LEAD</h2>
            <div class="team-row single" data-aos="fade-up">
                <div class="team-row-member single">
                    <div class=" media">
                        <img src="Assets/Anshika-ManagementHead.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <h2 class="team-name">ANSHIKA GAUTAM</h2>
                </div>
            </div>

            <h2 class="pos" data-aos="fade-up">DEVELOPERS</h2>
            <div class="team-row" data-aos="fade-up">

                <div class="team-row-member">
                    <div class="media">
                        <img src="Assets/photo - Mehak Aggarwal.jpeg" alt="" class="team-img">

                        <div class="icon">
                            <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">MEHAK AGGARWAL</h2>
                </div>

                <div class="team-row-member">
                    <div class="media">
                        <img src="Assets/ganiti jagota.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">GANITI JAGOTA</h2>
                </div>

                <div class="team-row-member">
                    <div class="media">
                        <img src="Assets/Ishika Pandey.jpg" alt="" class="team-img">
                        <div class="icon">
                            <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">ISHIKA PANDEY</h2>
                </div>
            </div>

            <div class="team-row double" id="last" data-aos="fade-up">

                <div class="team-row-member">
                    <div class="media">
                        <img src="Assets/VanshiKA Moyal.jpg" alt="" class="team-img">

                        <div class="icon">
                            <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">VANSHIKA MOYAL</h2>
                </div>

                <div class="team-row-member">
                    <div class="media">
                        <img src="Assets/Tanya Dixit.jpeg" alt="" class="team-img">
                        <div class="icon">
                            <a href="#" class="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h2 class="team-name">TANYA DIXIT</h2>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        });
    </script>
    <%- include("partials/footer"); %>