.contact_banner{
    background-image: url("../Assets/contact-top.png");
    width: 100%;
    height: 45vh;
    background-size: cover;
    position: relative;
}
.message-illust {
    width: 55%;
    position: absolute;
    bottom: -27vh;
    left: 24%;
}
.contact_banner h1, .contact_banner h6,
.events__top h1, .events__top h6 ,
.gallery__top h1, .gallery__top h6{
    margin: 0;
    text-align: center;
    color: var(--dark-blue);
}
.contact_banner h1,
.events__top h1,
.gallery__top h1{
    padding: 5vh 0 0;
}
.contact_banner h6, 
.events__top h6 ,
.gallery__top h6{
    font-weight: 500;
    font-size: .8rem;
}
.form_container{
    width: 40%;
    margin: 23vh auto 8vh;
    text-align: center;
    border-radius: 4vh;
    padding: 2% 0;
    color: #504c81;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.068);
}
.form_container h2{
    color: #504c81;
}
.form-group{
    background: #dedbfc52;
    width: 90%;
    min-height: 6vh;
    border-radius: 1vh;
    margin: 2vh auto;
    display: flex;
    align-items: center;
    border-bottom: .2vw solid var(--purple);
}
form{
    margin-top: 4vh;
}
.form-group label{
    width: 100%;
}
.form-group input,
.form-group textarea{
    background-color: transparent;
    border: none;
    resize: vertical;
    outline: none;
    font-family: var(--font-sans);
    width: 90%;
}
.form-group:last-child{
    align-items: flex-start;
}
.contact-btn{
    width: 90%;
    background-color: var(--purple);
    color: white;
    border: none;
    font-family: var(--font-sans);
    padding: 1vh 0;
    text-transform: uppercase;
    border-radius: .9vh;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 2vh 0;
}
.contact-btn:hover{
    background-color: var(--bright-pink);
}

.success{
    width: 100vw;
    height: 100vh;
    background-color: #504c8166;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.success .pop-up{
    width: 40%;
    border-radius: 1vw;
    background-color: white;
    padding: 5vw;
    text-align: center;
}

.pop-up img{
    width: 7vw;
}

.pop-btn{
    width: 80%;
    background-color: var(--purple);
    border: none;
    font-family: var(--font-sans);
    margin: 1vw 0 0;
    font-size: 1rem;
    color: white;
    border-radius: .5vw;
    padding: 1vw 0;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
}

.success.show{
    display: flex;
}

.pop-btn:hover{
  box-shadow: 0px 13px 20px -10px rgba(0, 0, 0, 0.404);
}

@media (max-width: 1024px) {
    .message-illust {
        width: 80%;
        left: 10%;
        bottom: -9vh;
    }
    .form_container {
        width: 90%;
    }
    .success .pop-up{
        width: 80%;
        border-radius: 3vw;
    }
    .pop-up img{
        width: 35vw;
    }
    .pop-up h1{
        font-size: 1.2rem;
    }
}