/* html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
} */
.gallery-container {
  /* width: 100%; */
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 8%;
  /* background-color: white; */
}
.heading {
  display: flex;
  /* margin: 20px 10px 0 10px; */
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 30px;
}
.heading h3 {
  font-size: 3em;
  font-weight: bolder;
  border-bottom: 3px solid palevioletred;
  color: palevioletred;
}
.heading h3 span {
  font-weight: 200;
}

.gallery__top {
  background-image: url("../Assets/contact-top.png");
  width: 100%;
  height: 30vh;
  background-size: cover;
  color: var(--dark-blue);
  text-align: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  background-color: white;
}

.gallery img {
  width: 100%;
  transition: 1s;
  filter: grayscale(70%);
}
.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.15);
}
