/* =========== MAIN CONTAINER =========== */

main {
  min-height: 100vh;
}

/* ============== HEADER =============== */

.heading {
  text-align: center;
  background-image: url("/Assets/SOCH-bg-final.png");
  min-height: 100vh;
  background-size: cover;
  /* background-repeat: no-repeat; */
  display: flex;
}
.heading h1,
.heading p,
.heading h4 {
  margin: 0;
  font-weight: 700;
}
.heading h1 {
  font-size: 3rem;
  margin-bottom: 2vh;
  letter-spacing: 4px;
}
.main-banner{
  width: 40vw;
}
.heading p {
  font-weight: 500;
}
.head-content {
  color: var(--dark-blue);
  /* color: white; */
  font-family: var(--font-sans);
  height: 50vh;
  margin: auto;
  position: relative;
}
.head-text {
  position: relative;
  z-index: 2;
}
.stroke {
  fill: var(--dark-blue);
  position: absolute;
  top: -10vh;
  left: -10vh;
  width: 140%;
  height: 100%;
  z-index: 1;
}
.underline {
  height: 0.2vw;
  width: 10vh;
  margin: 2.5vh auto;
  display: block;
  background-color: #81b1c0;
}
.heading h3 {
  color: #81b1c0;
}

/* =========== BANNERS =========== */

.banner {
  margin: auto;
  /* height: 90vh; */
  width: 80%;  
  text-align: center;
  margin: 5vh auto;
  min-height: 70vh;
}
.banner-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15vh 0;
}
.banner1{
  background: url("/Assets/home-illust2.png");
}
.banner-content{
  background-color: white;
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  font-family: var(--font-round);
  font-weight: 600;
  font-size: 1rem;
}
.banner2{
  background: url("/Assets/home-illust3.png");
}
.banner1,
.banner2{
  width: 25vw;
  height: 25vw;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content h3{
  font-weight: 600;
  font-family: var(--font-sans);
  font-size: 1.1rem;
}

/* =========== TEAMS =========== */
.teams{
  text-align: center;
  width: 80%;
  margin: 5vh auto 0;
  min-height: 70vh;
  position: relative;
}
.teams h1,
.container h1,
.banner h1 {
  color: var(--dark-blue);
  /* font-size: 1.5rem; */
  font-weight: 600;
  margin: 0;
}
.teams h4,
.container h4,
.banner h4 {
  margin: 0;
  color: #c2e3ec;
  font-weight: 500;
}
.team-cards {
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 13px 20px -10px rgba(0, 0, 0, 0.404);
  border-radius: 2vh;
  position: absolute;
  padding: 8% 3vw;
}
.team-card-wrap {
  display: flex;
  justify-content: space-evenly;
}
.know-btn {
  background: var(--bright-pink);
  border: none;
  outline: none;
  font-family: var(--font-round);
  color: white;
  font-size: 1rem;
  padding: 1vh 3vh;
  border-radius: 4vh;
  margin-top: 6vh;
  font-weight: 600;
  cursor: pointer;
  transition: background .5s;
}
.know-btn:hover {
  background: var(--purple);
}
.team-icon {
  width: 15vh;
}
.team-card {
  padding: 0 2vh;
}
.team-card h5 {
  color: var(--bright-pink);
  font-family: var(--font-round);
  font-size: 1rem;
  font-weight: 600;
  margin: 2vh 0;
}
.team-card p {
  color: var(--dark-blue);
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 0.8rem;
}

/* =========== ABOUT =========== */

.about {
  background-color: var(--dark-blue);
  min-height: 90vh;
}
.about .container {
  width: 90%;
  text-align: center;
  padding-top: 35vh;
  margin: 0 auto;
  color: white;
}
.container h1 {
  font-weight: 600;
  color: white;
}
.about__illust {
  width: 30vw;
  height: 100%;
}
.about-wrap {
  margin-top: 10vh;
}
.about-con {
  display: flex;
  justify-content: space-between;
}
.about-con p {
  background: white;
  color: var(--dark-blue);
  /* border-radius: 2vh; */
  border: none;
  border-radius: 40px 10px;
  width: 50%;
  line-height: 5vh;
  height: 100%;
  padding: 4% 4% 3%;
}
.about-con p::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
}

/* =========== MEDIA QUERIES =========== */

@media (max-width: 1024px) {
  .team-card-wrap {
    flex-direction: column;
  }
  .about-con {
    flex-direction: column;
  }
  .about__illust,
  .about-con p{
    width: auto;
  }
  .about .container {
    padding-top: 110vh;
  }
  .underline {
    height: 0.6vw;
  }
}
